/*---- basic styling ----*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto mono', sans-serif !important;
    background: #0f0f0f !important;
    color: #fff !important;
}

.whitespace {
    width: 100%;
    height: 100px;
}

/*---- typewriter effect ----*/
.line{
    width: 24em;
    top: 50%;
    margin: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);;
}

.anim-typewriter{
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCussor 500ms steps(40) infinite normal;
}

/*---- navigation ----*/
nav {
    width: 100%;
    background: #0f0f0f;
    height: 90px;
    position: fixed;
    z-index: 1;
}

nav #MyName {
    float: left;
    display: block;
    margin-left: 40px;
    line-height: 5;
    font-weight: bold;
}

nav #MyName a {
    color: #fff;
    text-decoration: none;
}

nav #menu {
    float: left;
    right: 90px;
    position: fixed;
}

nav #menu li {
    padding-left: 45px;
    display: inline-block;
    font-weight: 280;
    line-height: 5;
    position: relative;
}

nav #menu li span {
    font-weight: 700;
}

nav #menu li a {
    color: #fff;
    font-weight: bold;
    background-color: #0f0f0f;
}

/*---- hero section ----*/

.hero {
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h3 {
    font-weight: lighter;
    text-align: center;
    letter-spacing: -3px;
    line-height: 55px;
}

/*---- My Work section ----*/

.work {
    margin-left: 30px;
    font-weight: bold;
}

.pjct a img {
    width: 100%;
    height: auto;
}

/*---- footer section ----*/

.lookingfor {
    text-align: right;
}

.lookingfor p {
    font-weight: lighter !important;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: x-large;
}

.hr {
    background: rgba(255, 254, 254, 0.1);
    height: 3px;
}

.socialmedia h4 {
    font-size: 18px;
    font-weight: lighter;
}

.socialmedia p {
    color: grey;
    font-weight: lighter;
}

.socialmedia li {
    font-weight: lighter;
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
}

#media ul li a {
    text-decoration: none;
    color: #fff;
}

.dot::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
}
#gh::before {
    background: #3b5998;
}

#ig::before {
    background: #f36cbf;
}

#tw::before {
    background: #55acee;
}

#lk::before {
    background: #98cdf0;
}

#media, #mailme {
    text-align: right;
}

#media ul {
    list-style: none;
}

#media ul li {
    display: inline-block;
}

/*---- work page ----*/

.hero-content {
    margin-left: 0%;
}

.hero-content p {
    font-weight: 300;
    line-height: 36px;
    color: grey;
}

.hero-content h2 {
    text-align: left;
    margin-left: 35px;
    font-weight: bold;
}

/*---- about page ----*/

.about {
    height: 500px;
    margin-top: 120px;
}

.blackndwhite{
    width: 100vw;
    height: auto;
}

/*---- contact form ----*/
#contact-form {
    margin: 5% 1.4%;
}

#contact-form ul {
    list-style: none;
    border-radius: 5px;
    margin-bottom: 40px;
}

#contact-form li {
    padding: 10px;
}

#contact-form li:last-of-type {
    border-bottom: none;
}

#contact-form label {
    display: block;
    font-size: .8em;
    color: #999;
    padding-left: 5px;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 5px;
    border: none;
    resize: vertical;
    background: transparent;
    color: #fff;
    font-weight: bolder;
}

input:focus {
    outline: none;
    border: none;
}

textarea:focus {
    outline: none;
    border: none;
}

.textarea {
    border-bottom: 1px solid #dfdfdf;
}

.send {
    margin-left: 50px;
    text-transform: uppercase;
    padding: 20px 30px;
    background: transparent;
    color: #dfdfdf;
    font-size: 14px;
    letter-spacing: 2px;
}

.send:hover {
    background: #dfdfdf;
    color: #101010;
}

/*---- work page ----*/

.prev, .next p {
    color: grey;
}

.prev p {
    text-align: left;
}

.next p {
    text-align: right;
}

/* WORKING ON IT  */
 #working {
    display: flex;
    justify-content: center;
    align-items: center;
}

#working img {
    width: 22vw;
}

/* @media */

@media(max-width: 768px) {
    .whitespace {
          display: none;
    }
}

@media(max-width: 768px) {
    @keyframes typewriter {
          from {
                width: 0;
          }
          to {
                width: 17em;
          }
    }
}

@keyframes typewriter {
    from{
        width: 0;
    }
    to {
        width: 35em;
    }
}

@keyframes blinkTextCussor {
    from {
          border-right-color: rgba(255, 253, 241, 0.747);
    }
    to {
          border-right-color: transparent;
    }
}

@media(max-width: 768px) {
        .header h1 {
              font-size: 26px;
        }
}

    
@media(max-width: 768px) {
    .pjct {
          width: 90% !important;
          margin: 14px auto;
    }

@media(m-width: 768px) {
    .hero-content {
          padding-top: 50px;
          width: 96%;
          margin: 0 auto;
    }
}


@media(max-width: 768px) {
    .lookingfor, #personal, #media, #mailme {
          text-align: center;
    }

    .socialmedia ul {
          margin: 0 0 0 -22px;
          padding: 0;
    }
}

@media(min-width: 768px) {
    #contact-form {
          margin: 5% -8%;
          width: 98%;
    }
}
